{% extends 'base.html' %}

{% block content %}</br>
<font face="Comic Sans" size="6px">
    List of Users :
</font>
    {% for user in users %}
        {% if not user.is_staff %}
                <ul>
                  <li><h4><a href="{% url 'accounts:profile' user.username %}">{{ user.username }}</a></h4></li>
                </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
