{% extends 'base.html' %}

{% block content %}
<hr><b><font face="Comic Sans">
    <h1>@{{ username }}</h1>
    <h3>{{ object.name }}</h3>
    {% if user.username == username %}
        <a href="{% url 'accounts:update' user %}" class="btn btn-success">Edit Profile</a>&nbsp;&nbsp;
    {% elif connected %}
    <a href="{% url 'accounts:unfollow' username %}" class="btn btn-success">Unfollow</a>&nbsp;&nbsp;
    {% else  %}
        <a href="{% url 'accounts:follow' username %}" class="btn btn-primary">Follow</a>&nbsp;&nbsp;
    {% endif %}
    <a href="{% url 'accounts:followers' username %}">Followers : {{ followers }}</a>&nbsp;&nbsp;
    <a href="{% url 'accounts:following' username %}">Following : {{ following }}</a>&nbsp;&nbsp;
</br></br></font></b>
    {% for post in posts %}
        {% include 'posts/post.html' %}
    {% endfor %}
{% endblock %}
