<div class="modal fade" id="{{ post.slug }}_dislikers_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dislikes</h4>
            </div>
            <div class="modal-body">
                {% for x in dislike %}
                    {% if x.post == post%}
                        <a href="{% url 'accounts:profile' x.user %}"><h1>{{ x.user }}</h1></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
