{% extends 'base.html' %}

{% block content %}</br>
    <img src="{{ post.photo.url }}" alt="{{ post.caption.url }}" class="responsive">
  </br></br>
    <p><b>{{ post.caption }}</b></p>
    <form action="" method="post">
        {% csrf_token %}
        <p><b>Are you sure you want to delete this post?</b></p>
        <input type="submit" name="yes" value="Yes" class="btn btn-success" />
        <a href="{% url 'posts:view' post %}" class="btn btn-danger">Cancel</a>
    </form>
{% endblock %}
