</br>
<div id="{{ post.slug }}">
    <div class="post">
    </br>
        <div class = "userinfo"><a href="{{ post.author.get_absolute_url }}"><b>{{ post.author }}</b></a> </br>
            {% if post.location %}
            <i class="fas fa-map-marker-alt"></i><address>{{post.location}}</address>
            {% endif %}
        </br>
        {% if user ==  post.author %}
        </div>
            | <a href = "{% url 'posts:update' post.slug %}">Update</a> |
            <a href = "{% url 'posts:delete' post.slug %}">Delete</a> |
        {% endif %}
        <img src="{{ post.photo.url }}" alt="{{ post.caption }}" width="660px" height="450px" class="responsive"/></br></br>
        <p>{{ post.caption }}</p>
  <div class ="posttime">  <a href="{% url 'posts:view' post.slug %}">{{ post.date_created }}</a></div>
  <hr>
     <div class="panel-footer foot">
            <b><a href="#" data-toggle="modal" data-target="#{{ post.slug }}_likers_modal">Likes : {{ post.liker|length }}</a></b>
            {% include 'posts/likers.html' %}&nbsp;
       <b><a href="#" data-toggle = "modal" data-target = "#{{ post.slug }}_dislikers_modal">Dislikes : {{dislikes|length}}</a></b>
            {% include 'posts/dislikers.html' %} &nbsp;
        <div class="input-group">
            {% if user in post.liker %}
                <a href="{% url 'posts:unlike' post.slug %}" class="input-group-addon btn btn-default blue"><i class="fas fa-thumbs-up"></i></a>
            {% else %}
                <a href="{% url 'posts:like' post.slug %}" class="input-group-addon btn btn-default"><i class="far fa-thumbs-up"></i></a>
            {% endif %}
                {% if user in dislike and post in dislike %}
                        <a href="{% url 'posts:undislike' post.slug %}" class = "input-grooup-addon btn btn-default blue"><i class = "fas fa-thumbs-down"></i></a>
                {% else %}
                <a href="{% url 'posts:dislike' post.slug %}" class = "input-group-addon btn btn-default"><i class = "far fa-thumbs-down"></i></a>
                {% endif %}
                <form name = "commentform" action="{% url 'posts:comment' post.slug %}" method="post">
                    {% csrf_token %}
                  &nbsp;  <input class="cmnt" type="text" name = "comment" size="42%" placeholder="Add a Comment..." aria-describedby="comment">
                  <input class = "btn btn-primary" type="submit" name="submit" value = "Comment">
                </form>
        </div>
      </br>
        {% for z in comment %}
            {% if z.post == post %}
                <a href = "{{post.author.get_absolute_url}}"><b>{{z.commentor}}</b></a> : {{z.text}}</br></br>
            {% endif %}
        {% endfor %}
    </div>
</div></div>
<script type="text/javascript">
    $(document).ready(function () {
    //Convert address tags to google map links - Copyright Michael Jasper 2011
    $('address').each(function () {
        var link = "<a href='http://maps.google.com/maps?q=" + encodeURIComponent( $(this).text() ) + "' target='_blank'>" + $(this).text() + "</a>";
        $(this).html(link);
    });
});
</script>
