{% extends 'base.html' %}

{% block content %}
	{% for x in ratings %}
		{% if x.post in posts %}
		<br>
		<div id = "{{post.slug}}">
		<div class = "post">
		</br>
			<div class = "userinfo"><a href="{{x.post.author.get_absolute_url }}"><b>@{{x.post.author}}</b></a>
				{% if post.location %}
     <i class="fas fa-map-marker-alt"></i><address>{{post.location}}</address>
    {% endif %}
			<img src="{{x.post.photo.url}}" width = "660px" height="450px" class = "responsive"><br>
		</div><br>
		<div class = "posttime panel-footer"><a href="{% url 'posts:view' x.post.slug %}">{{x.post.date_created}}</a><p class = "text-right">
	Rating : {{x.rate}}%
</p></div>
</div>
		{% endif %}
	{% endfor %}
{% endblock %}