{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% for post in posts  %}
            {% include 'posts/post.html' %}
        {% endfor %}
    {% else %}
    <div class="pointer">
      <a href="http://www.animatedimages.org/cat-arrows-111.htm"><img src="http://www.animatedimages.org/data/media/111/animated-arrow-image-0044.gif" border="0" alt="animated-arrow-image-0044" /></a>
    </div>
      <div class="moving-letters">
          <h1 class="ml6">
          <span class="text-wrapper">
              <span class="letters">Welcome to FOODIE Community ! </span>
          </span>
          </h1>
          </div>
          <div class="w3-animate-zoom image">
           <div class = "chickenimage"><img src="../static/img/chicken.jpg" alt="Foodie"/></div>
           <div class = "burgerimage"><img src="../static/img/burger.jpg" alt="Foodie"/></div>
           <div class = "pizzaimage"><img src="../static/img/Pizza.jpg" alt="Foodie"/></div>
          </div>
  {% endif %}
{% endblock %}
