@font-face {
    font-family: 'BlowBrush';
    src: url('../fonts/blowbrush.ttf');
}

body{
  background-color: #e8ebef;
}
.logo img
{
    height: 65px;
    width: 65px;
    margin-top: -9px;
    margin-left: 15px;
}

.customnavbar
{
  height: 80px;
}

.customnavbar li
{
  padding-top: 10px;
  font-size: 20px;
  color: #d85117;
}

.ml6 {
  font-family: BlowBrush;
  position: relative;
  font-size: 3.5em;
  color: #D35400;
  padding-left: 140px;
  margin-top: -35px;
}


.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  margin-top: -35px;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.userinfo a
{
  font-size: 17px;
  font-family: cursive;
  color: #282C34;
  position: relative;
}
.userinfo
{
    position: relative;
}
.post
{
  background-color: white;
  width: 65%;
  padding-left: 40px;
  padding-bottom: 15px;
  padding-right: 40px;
  border-radius: 15px;
}


.image img
{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.burgerimage
{
  margin-top: -16%;
  margin-left: 50%;
}

.pizzaimage
{
  margin-left: 32%;
  margin-top: 2%;
}
.chickenimage
{
  margin-left: 20%;
  margin-top: 0%;
}

.pointer img
{
  margin-left: 100%;
  margin-top: 5%;
   transform: rotate(90deg);
}

.signupheading
{
  margin-top: 5%;
  font-family:  'Oswald', sans-serif;;
  font-size: 32px;
}
.responsive
{
    width: 100%;
    height: auto;
}
.cmnt
{
  border-radius: 5px;
  height: 38px;
  margin-top: 0px;
  padding-left: 5px;
}
.btn
{
  height: 35px;
  margin-top: -4px;
}
